[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "staggeredGMM"]
	path = staggeredGMM
	url = https://github.com/rishabhbijani/staggeredgmm
